* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HeaderInput {
  background-image: url("/public/images/bg-mobile-light.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
